
.container-loading {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.loader-icon {
	-webkit-animation: loaderSpin 0.6s infinite linear;
	animation: loaderSpin 0.8s infinite linear;
	background: transparent !important;
}