.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	background: #F2F4F8;
	/* padding: 2%; */
}
nav {
	box-shadow: 0 0 14px 0px rgba(0,0,0,0.06);
	/* box-shadow: inset 3px 3px 6px 0px rgba(0,0,0,0.06), inset -3px -3px 6px 0px #fff; */
	background: #f2f4f8;
	height: 80px;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s ease;
	padding: 0 40px;
	display: flex;
	/* width: 100%; */
}

nav a {
	/* display: flex; */
	/* align-items: center; */
	/* border-bottom: 1px solid #f2f4f8; */
	height: 100% !important;
	letter-spacing: 0.8px;
	/* margin: 0 !important; */
	/* background: none; */
	/* box-shadow: none; */
	/* border-radius: 0; */
	padding: 0 20px;
	color: #000;
	text-decoration: none;
}

svg {
	width: 100%;
	height: 100%;
	overflow: visible;
}

#container--viewA {
	padding:5%;
	margin:2%;
	background: #F2F4F8;
}

#wrapper--ExampleChart {
	height: 50vh;
	margin-bottom: 2em;
}

.button--3d {
	background: #F2F4F8;
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.06), -4px -4px 8px 0px #fff;
	padding: 0 20px;
	margin: 0 10px;
	height: 44px;
	border-radius: 25px;
	letter-spacing: 0.8px;
	transition: all 0.3s ease;
	border: 0px solid #F2F4F8;
	font-weight: 800;
	font-size: 0.8em;
	text-transform: uppercase;
}

.button--accent {
	background: #FFBDAD;
	color: white;
}

.button--3d:hover {
	box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.06), -8px -8px 16px 0px #fff;
	background: #FFA0B8;
	color: white;
}

div.offset {
	box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.06), -8px -8px 16px 0px #fff;
	border-radius: 8px;
	background: #F2F4F8;
}

div.inset {
	box-shadow: inset 3px 3px 6px 0px rgba(0,0,0,0.06), inset -3px -3px 6px 0px #fff;
	background: #F2F4F8;
}
