#container--viewB {
	padding:5%;
	margin:2%;
	background: #F2F4F8;
}

.container-loading {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.controls div {
	display: inline-flex;
	align-items: center;
}

.controls inline-input-group {
	display: inline-flex;
}

.toggle-label {
	margin-right:1em;
}

.custom-input-number input {
	text-align: center;
}
  
.custom-input-number .rs-input-number-btn-group-vertical {
	display: none;
}
