.controls-container {
	padding: 1.5em 2em 1.5em 2em;
	margin: 2em 2em 2em 2em;
}

.controls {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.controls>* {
	margin: 0.3em 0.2em 0.3em 0.2em;
}

.controls div {
	display: inline-flex;
	align-items: center;
}

.controls inline-input-group {
	flex-direction: row;
}

.toggle-label {
	margin-right:1em;
	margin-left:0.5em;
}

.custom-input-number input {
	text-align: center;
}
  
.custom-input-number .rs-input-number-btn-group-vertical {
	display: none;
}

.rs-picker-default .rs-picker-toggle {
	border: none;
	background: #f2f4f8!important;
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.06), -4px -4px 8px 0px #fff;	
}

.rs-picker-toggle > span {
	transition: all 0.3s ease!important;
	color: #575757!important;
}

.rs-picker-toggle:hover {
	/* background-color: #FEEC9A!important; */
	/* transition: all 0.3s ease!important; */
	background: #EAECF0!important;
	box-shadow: inset 3px 3px 6px 0px rgba(0,0,0,0.06), inset -2px -2px 2px 0px rgba(255, 255, 255, 0.4);
}

.rs-picker-select-menu-item:not(.rs-picker-select-menu-item-disabled):hover, .rs-picker-select-menu-item.rs-picker-select-menu-item-focus {
	background-color: #FEEBC3!important;
	color:#575757;
}


.rs-btn-default:not(.rs-btn-disabled):hover.rs-btn-icon.rs-btn-icon-with-text > .rs-icon {
	/* box-shadow: inset 3px 3px 6px 0px rgba(0,0,0,0.06), inset -2px -2px 3px 0px rgba(255, 255, 255, 0.4); */
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.06), -4px -4px 8px 0px #fff;
	background: #EAECF0!important;
}


.rs-input {
	/* background: #F2F4F8!important; */
	background: transparent!important;
}

.rs-input:hover {
	box-shadow: inset 3px 3px 6px 0px rgba(0,0,0,0.06), inset -2px -2px 2px 0px rgba(255, 255, 255, 0.4);
}

.rs-input-group-btn {
	background: #f2f4f8!important;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.06), 0px 0px 0px 0px #fff;
	line-height: inherit;
}

.rs-input-group-btn:hover {
	box-shadow: inset 3px 3px 6px 0px rgba(0,0,0,0.06), inset -2px -2px 2px 0px rgba(255, 255, 255, 0.4);
	background: #EAECF0!important;
}

.rs-input-group:hover {
	/* box-shadow: inset 3px 3px 6px 0px rgba(0,0,0,0.06), inset -2px -2px 2px 0px rgba(255, 255, 255, 0.4); */
	background: #EAECF0!important;
}

.rs-input-group:not(.rs-input-group-inside) {
	border: none;
	align-items: stretch;
	transition: all 0.3s ease!important;
}

.rs-input-group:not(.rs-input-number) {
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.06), -4px -4px 8px 0px #fff !important;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.06), -4px -4px 8px 0px #fff !important;	
}

.rs-input-number{
		background: transparent!important;
}

.rs-input-number:hover {
		box-shadow: inset 3px 3px 6px 0px rgba(0,0,0,0.06), inset -2px -2px 2px 0px rgba(255, 255, 255, 0.4);
}